body {
	background-color: #202340;
}

.container a {
	background-color: #202340;
	border: 1ps solid white;
	color: white;
	transition: all .1s;
}

#more, #datetime {
	background: steelblue;
	border: 1px solid steelblue;
}

#datetime:focus {
	background: steelblue;
	border: 1px solid steelblue;
	color: white;
}

#more:hover, #datetime:hover { color: white; }

.button {
	margin-right: 1.5%;
}

.button:hover {
	background-color: royalblue;
	border: 1px solid royalblue;
	color: white;
}

.idx {
	color: rgb(135, 99, 207);
}

.idx:hover {
	color: white;
}